* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-image: linear-gradient(#00000001,#00000001), url("vgg.jpg");
    background-position: center;
    background-size: cover;
    min-width: 100vh;
}
header {
    flex: 1 1 100vh;
    height: 90%;
    border-bottom: 12px solid #9d7c7c7b;
}
header #logo {
    margin: 12pt;
    padding: 10vh;
    flex: 0 1 200px;
    font-size: 50px;
    font-style: italic;
    color: white;
    font-weight: bold;
    text-decoration: none;

}
nav {
    display: flex;
    align-items: center;
    justify-content: right;
    
}
nav a {
    padding: 10px 20px;
    font-size: 25pt;
    text-decoration: none;
    color: #000;
    border-radius: 30px 42px 1.5rem 2.4em;
    transition: .6s;
 
}
nav a:hover {
    background-color: rgba(012, 200, 54, .9);
}
/*Concluir a parte do cabeçalho daqui pra cima...*/


.hero {
    max-width: 84em;
    height: 35em;
    background: url("juntos.jpg") no-repeat center center / cover;
    color: black;
   
    margin: 2rem auto;
    border-radius: 40px;
    border-style: outset inset solid double;
}
.text {
    background: linear-gradient(#414141b1, #201e1e7b,#161718c1),url(fotoP.jpeg);;
    background-position: center;
    background-size: cover;
    justify-content: center;
    width: 160px;
    height: 29vh;
 
    
}

main{
    background-image: linear-gradient(#414141b1,#BddeeFc1), url(Dog-paw-bro.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
    width: 80%;
    max-width: 50rem;

    margin: 0 auto;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-top: -53px;
    
}


main .content h2  {
    font-size: 2.4rem;
    font-weight: 600;
    font-style: oblique; 
    letter-spacing: 3px;
    text-align: center;

}
h3 {
    
    font-size: 30px;
    padding: 10px;
    font-style: oblique;
    font-variant: small-caps;
    text-align: center;
}
.cent {
    font-size: 1.3em;
    text-align: center;
}
.menu li a:hover{
    background-color:rgba(3, 36, 14, 0.432);
    border-radius: 10px;
}
    

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 02px rgb(255, 255, 255);
color: rgb(0, 0, 0);
display: none;
background-color: azure;
border-radius: 10px;
}

.dropdown-menu a {
display: block;
color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.imagem-logo{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    
}

.logo{
    display: flex;
    align-items: center;

}

.logo-texto{
    margin-left: 20px;
    color: white;

}

.menu li {

    display: inline-block;
    margin: 0 20px;


}
.menu li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(10, 1, 1);
    padding: 10px 15px;

}

header{
    width: 100%;
    background-color: rgb(98, 207, 134);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    top: 0;
    /*esse e o cabeçalho onde fica os link para outrs pags*/
}

.container{
    width: 96%;
    max-width: 117rem;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar h1{
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul a{
    font-size: 2.2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    letter-spacing: 5px;
    transition: all 0.4s ease;
}

.navbar a:hover{
    color: black;
    background-color: rgba(0, 128, 0, 0.632);
}


